.about
  .content_about
    +g-m-20
    line-height: 40px
    color: $blue_3
    margin-top: 35px

  .about_container
    padding-top: 20px

    .about_top
      margin-top: 22px
      .about_img
        max-width: 794px
        max-height: 312px
        margin: 0 auto

        img
          border-radius: 10px
      
      .about_top_content
        margin: 7px 0 25px

        .title_about
          +g-b
          font-size: 50px
          line-height: 55px
          color: $blue_3
          max-width: 488px
          position: relative

          span
            position: absolute
            left: 0
            top: -82px
            height: 80px
            +g-b
            font-size: 200px
            line-height: 165px
            color: $red_main
          
  .about_bottom_container
    padding-bottom: 100px
    position: relative
    overflow: hidden


.box_fraction_about
  display: grid
  grid-template-columns: 244px 244px 244px
  justify-content: space-between 
  .single_about_box
    display: flex
    flex-direction: column
    align-items: center
    grid-gap: 10px
    margin-bottom: 30px
    p
      +g-b-25
      color: $blue_3
      word-break: break-word
      
