.basket_container
  padding: 20px 0
  .title_repeat
    +g-b-40
    line-height: 48px
    margin-top: 25px
    color: $blue_3
  
  .basket_operation_container
    display: flex
    justify-content: space-between
    grid-gap: 230px
    
    .basket_box
      width: 590px
      display: grid
      grid-gap: 17px
      
      .basket_same
        display: flex
        flex-direction: column
        align-items: flex-end
        grid-gap: 6px
        
        .basket_single
          background: $white
          border-radius: 5px
          padding: 12px 22px 12px 27px
          display: grid
          grid-auto-rows: minmax(min-content, max-content)
          grid-template-columns: auto 1fr
          grid-gap: 0 33px
          align-items: center
          transition: all .4s

          &:hover
            box-shadow: 0px 4px 15px #E7F0FF
          
          .basket_img
            grid-row-start: 1
            grid-row-end: 3
            img
              width: 143px
              height: 143px
              object-fit: contain

          .basket_content_box
            .basket_content_title
              .title_of_project
                +g-b-16
                line-height: 25px
                color: $blue_1
                word-break: break-word
                height: 50px
                overflow: hidden
                text-overflow: ellipsis
                display: -webkit-box
                -webkit-box-orient: vertical
                -webkit-line-clamp: 2
              
              .type_of_project
                margin: 5px 0
                +g-r-13
                color: $blue_3
                word-break: break-word
    
          .basket_operation
            display: flex
            justify-content: space-between
            align-items: center

            .basket_count_box
              min-width: 82px
              border: 1px solid $blue_3
              height: 33px
              border-radius: 5px
              +flex_2
              grid-gap: 2px
              button
                +btn_default

              input
                width: 35px
                text-align: center
                +g-b-16
                color: $blue_3
  
            .money_price
              color: $blue_1
              +g-b
              height: max-content
              font-size: 25px
              line-height: 25px
              display: flex
              align-items: center
              grid-gap: 6px
              img
                height: min-content
    
    .result_box
      max-width: 290px
      
      .title_total_box
        
        .heading
          +g-r-20
          color: $blue_1
          word-break: break-word
        
        p
          +g-b-40
          color: $blue_3
          display: flex
          align-items: baseline
          word-break: break-word
          img
            margin-left: 9px
            height: min-content

      .basket_btns
        +flex_3
        grid-gap: 15px
        width: 240px
        margin-top: 45px

        a
          height: 49px