.compare_full_container
  padding: 20px 0

  .compare_main_container
    max-width: 1400px
    // margin: auto
    overflow: hidden
    margin-left:  calc((100% - 1200px) / 2)

    .compared_boxes
      display: grid
      grid-gap: 45px
      .compared_single_box
        display: grid
        grid-gap: 0 65px
        grid-template-columns: 240px 1fr

        .swiper-same-box
          display: flex
          flex-direction: column
          grid-gap: 7px
          align-items: flex-end
          padding-bottom: 10px
          
        .compared_left_info
          display: flex
          flex-direction: column
          justify-content: space-between
          padding-bottom: 10px
          
          p.com_left_title
            +g-b-20
            color: $blue_3
          
          .left_btns
            display: grid
            grid-gap: 15px

            a
              height: 49px
              +g-b-20
              img
                display: none

        .container-single
          grid-column-start: 1
          grid-column-end: 3
          margin: revert   
          .compared_bottom
            display: none
            margin: 45px 0 0
            .compared_table
              display: grid
              grid-gap: 22px
              .compared_row
                display: flex
                padding-bottom: 15px
                grid-gap: 5px
                &:not(:last-child)
                  border-bottom: 2px solid rgba(39, 60, 116, 0.4)
                p
                  flex: 1
                  color: $blue_3
                  +g-m-20
