section.contact
  position: relative
  overflow: hidden
  .contact_container
    padding: 20px 0 30px

    .contact_grid_box
      display: grid
      grid-template-columns: 220px 590px
      justify-content: space-between

      .contact_left
        display: grid
        grid-gap: 44px

        .title_con_left
          +g-r-20
          color: $red_main
        
        .same_contact_text
          +g-b-25
          color: $blue_3
          word-break: break-word
        
        .phones
          display: grid
          grid-gap: 15px
        
        .contact_socials
          display: flex
          grid-gap: 30px
        
      .contact_right
        .write_us
          +g-b-20
          color: $blue_3
          margin-bottom: 15px
        
        form#contact_form
          display: grid
          grid-template-columns: 1fr 1fr
          grid-gap: 20px

          label.error
            display: none !important

          .form-group
            margin-bottom: 0
            position: relative

            &.red_group
              &::after
                content: ''
                position: absolute
                right: 26px
                top: 16px
                background-image: url('../img/caution.svg')
                width: 20px
                height: 16px
            
            &.valid_group
              &::after
                content: ''
                position: absolute
                right: 26px
                top: 16px
                background-image: url('../img/valid.svg')
                width: 18px
                height: 18px

            input:not([type=radio])
              background: transparent
              width: 100%
              height: 49px
              padding: 0 50px 0 25px
              +g-m-16
              border: 1px solid $blue_3
              border-radius: 5px
              color: $blue_3


              & ~ .place-label
                position: absolute
                left: 25px 
                width: max-content 
                top: 14px 
                color: $blue_3 
                transition: 0.3s 
                z-index: -1 
                letter-spacing: 0.5px
                +g-m-16
                color: #94A5D3
                margin-bottom: 0 !important
                
                span
                  color: $red_main
              
              &:focus ~ .place-label , &.has-content ~ .place-label
                top: -10px 
                font-size: 10px 
                color: $blue_3 
                transition: 0.3s
                background: $white
                z-index: 1
                padding: 0 7px
                
                span
                  display: none
              
            textarea
              background: transparent
              width: 100%
              padding-left: 20px
              border: 1px solid $blue_3
              border-radius: 5px
              +g-m-16
              height: 187px
              resize: none
              padding: 20px
              color: $blue_3

              & ~ .place-label
                position: absolute
                left: 20px 
                width: max-content 
                top: 14px 
                color: $blue_3 
                transition: 0.3s 
                z-index: -1 
                letter-spacing: 0.5px
                +g-m-16
                color: #94A5D3
                margin-bottom: 0 !important
                span
                  color: $red_main
              
              &:focus ~ .place-label , &.has-content ~ .place-label
                top: -10px 
                font-size: 10px 
                color: $blue_3 
                transition: 0.3s
                background: $white
                z-index: 1
                padding: 0 7px
                span
                  display: none

            &.textarea_group
              grid-column-start: 1
              grid-column-end: 3