.fag
  .fag_container
    padding: 20px 0 35px
    .title_repeat
      +g-b-40
      line-height: 48px
      margin: 25px 0 12px
      color: $blue_3
      padding-bottom: 7px
      border-bottom: 2px solid rgba(39, 60, 116, 0.4)
    
    .fag_desc
      max-width: 590px
      +g-l-16
      line-height: 30px
      color: $blue_3

    .fag_accordion
      max-width: 893px
      margin-top: 34px
      #accordion
        width: 100%
        display: grid
        grid-gap: 20px
        li
          background: $accordion_gray
          box-shadow: 0px 4px 15px rgba(231, 240, 255, 0.8)
          border-radius: 8px
          color: $blue_3
          .link
            padding: 29px 34px 24px 40px
            cursor: pointer 
            +flex_1
            .link_accordion
              +g-b
              font-size: 20px
              line-height: 24px
            button
              transition: all .7s
              img
                height: 23px
                width: 16px
          
          &.open
            .link
              button
                transform: rotate(90deg)
        .submenu
          display: none
          padding: 0 34px 24px 40px
          .submenu_inner
            +g-r-18
            line-height: 30px
            padding-right: 25px
