footer
  .footer_container
    background: $footer_back
    padding: 70px 0 11px
    margin-top: 60px
    .footer_main
      display: flex
      justify-content: space-between
      .footer_left
        display: flex
        flex-direction: column
        grid-gap: 19px
        p
          +g-r-13
          line-height: 20px
          color: $white
          max-width: 290px
      
      .footer_right
        +flex_1
        grid-gap: 69px
        ul
          display: grid
          grid-template-rows: repeat(5 , 1fr)
          grid-auto-flow: column
          grid-gap: 16px 170px
          li
            a
              +g-r-14
              line-height: 20px
              color: $white
              display: flex
              align-items: center
              grid-gap: 7px
              div
                width: 14px
                display: flex
                justify-content: center
            
            &:nth-of-type(1),&:nth-of-type(5),
            &:nth-of-type(6),&:nth-of-type(7)
              a
                +g-b
              
        .footer_socials
          +flex_3
          height: 100%
          align-items: flex-end
          justify-content: space-between
          a
            position: relative
            p
              +g-r-14
              color: $white
              position: absolute
              left: -77%
              top: 35%

    .footer_bottom
      margin-top: 35px
      +g-r-13
      color: $white
      display: flex
      align-items: baseline
      a
        color: $white
        font-weight: bold
        margin-left: 5px
        text-decoration: none
