section
  header
    .header_top_container
      background: $header_container
      padding: 11px 0
      .header_top_box
        +flex_4
        grid-gap: 114px
        .number_box
          +flex_2
          grid-gap: 14px
          img
            filter: brightness(0) invert(1)
          p
            +g-m-14
            color: $white
            line-height: 24px
            letter-spacing: 0.02em
          
        .languages_box
          +flex_2
          a
            +g-r-14
            color: $white
            letter-spacing: 0.02em
            &:not(:last-child)
              position: relative
              margin-right: 12px
              padding-right: 12px
              &::after
                content: ''
                position: absolute
                right: 0
                top: -3px
                width: 1px
                height: 23px
                background-color: $white
    
    .header_bottom_container
      z-index: 55
      position: relative
      background: $white
      .header_bottom_box
        +flex_1
        align-items: center
        .header_main_box
          +flex_2
          grid-gap: 30px
          form
            border: 1px solid $blue_1
            border-radius: 30px
            height: 42px
            padding: 10px 25px 10px 23px
            +flex_1
            grid-gap: 10px
            input
              background: none
              +g-b-16
              color: $blue_1
              &::placeholder
                +g-b-16
                color: $placeholder

            button
              +btn_default
          >ul
            +flex_2
            grid-gap: 30px
            >li
              height: max-content
              display: flex
              align-items: center
              position: relative
              align-items: center
              &:not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3))
                height: 86px
                &:hover
                  > a
                    &::after
                      opacity: 1
                      pointer-events: all
                      visibility: visible
                
              >a
                height: 100%
                +g-b-16
                color: $blue_1
                transition: color .3s
                position: relative
                display: flex
                align-items: center
                &:after
                  content: ''
                  position: absolute
                  width: 100%
                  height: 6px
                  margin: 0 auto
                  background-image: url('../img/link_hover.svg')
                  filter: brightness(0) invert(1)
                  background-size: contain
                  background-position: center
                  background-repeat: no-repeat
                  left: 0
                  right: 0
                  bottom: 17px
                  opacity: 0
                  pointer-events: none
                  visibility: hidden
                  transition: opacity .4s
                  filter: unset

                img
                  &.blue_class
                    display: unset
                  &.white_class
                    display: none

              .has-submenu
                position: absolute
                transition: opacity .3s linear 0s
                opacity: 0
                visibility: hidden
                pointer-events: none
                left: -30px
                top: 86px
                min-width: 200px
                left: -30px
                display: flex
                align-items: center
                padding: 0
                background: $white
                box-shadow: 0px 4px 15px rgba(160 , 199, 239 , .3)
                border-radius: 10px

                .submenu_links
                  display: flex
                  flex-direction: column
                  width: 100%
                  li
                    padding: 15px 24px
                    position: relative
                    > a
                      +g-m-14
                      color: $blue_3
                      transition: color .5s                      
                    
                    .submenu_multiple_has_menu
                      position: absolute
                      min-width: 160px
                      left: 200px
                      top: 0
                      padding: 15px 25px
                      background: $white
                      box-shadow: 0px 4px 15px rgba(160, 199, 239, 0.4)
                      border-radius: 10px
                      opacity: 0
                      pointer-events: none
                      visibility: hidden
                      transition: opacity .3s
                      .multiple_submenu_links
                        display: grid
                        grid-gap: 15px
                        a
                          +g-r-14
                          color: $blue_3
                          transition: color .3s
                          &:hover
                            color: $yellow_3

                    &:hover
                      > a:hover
                        color: $yellow_3
                      .submenu_multiple_has_menu
                        opacity: 1
                        visibility: visible
                        pointer-events: all

              &:hover
                .has-submenu
                  opacity: 1
                  visibility: visible
                  pointer-events: all
                > a
                  color: $blue_5

        .header_mobile_box
          display: none
          grid-template-columns: repeat(3 , auto)         
          grid-gap: 20px
          align-items: center
          a
            height: 28px
            width: 28px
            +flex_2
            img
              min-height: 19px
            
  .header_overlay
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: $blue_3
    visibility: hidden
    width: 0
    left: 50%
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)
    -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s
    transition: width 0.5s 0.3s, visibility 0s 0.8s
    z-index: 101

    .overlay_loop
      position: relative
      display: flex
      flex-direction: column
      grid-gap: 30px
      justify-content: space-between
      height: 100%
      padding: 43px 25px 23px
      opacity: 0
      visibility: hidden
      -webkit-transition: opacity 0.3s 0.5s
      transition: opacity 0.3s 0.5s
      text-align: center
      overflow: auto

      .overlay_heading
        +flex_1
        >a
          img
            width: 160px

        .overlay_close
          img
            width: 18px
            height: 18px
            filter: brightness(0) invert(1)      

      nav
        margin-top: 10px
        margin-bottom: auto
        ul.list-unstyled
          display: flex
          flex-direction: column
          align-items: flex-start
          width: max-content
          grid-gap: 35px
          li
            &:not(.has-submenu-link)
              a
                +g-b-25
            
            &.has-submenu-link
              > div
                display: flex
                align-items: center
                grid-gap: 25px
                a
                  +g-m-20
                
                button
                  transition: transform .3s
                  &.rotate
                    transform: rotate(90deg)
              .submenu
                display: none
                ul
                  display: flex
                  flex-direction: column
                  align-items: flex-start
                  grid-gap: 25px
                  margin: 25px 0 15px
                  li
                    a
                      +g-m
                      font-size: 18px
                      line-height: 22px
                      color: $red_main
            a
              color: white
      
      .overlay_footer
        +flex_1
        .over_footer_favs
          display: flex
          align-items: center
          grid-gap: 40px
          a
            img
              height: 30px
              width: 30px
        
        .over_footer_langs
          display: flex
          align-items: center
          a
            +g-r-20
            line-height: 23px
            color: $white
            &:first-child
              margin-right: 27px
              padding-right: 28px
              border-right: 1px solid $white

      form.form-mobile
        position: absolute
        display: flex
        width: calc(100% - 50px)
        margin: 0 auto
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

        input
          width: 100%
          border: 1px solid #FFFFFF
          box-sizing: border-box
          border-radius: 30px
          background: none
          outline: none
          padding: 15px 33px
          height: 49px
          color: white
          +g-b-16
          color: $white

          &::placeholder
            +g-b-16
            color: rgba(255, 255, 255, 0.4)
        
        button
          width: 96px
          height: 49px
          background: $blue_4
          margin-left: -20px
          border-radius: 30px
          +flex_2
          img
            filter: brightness(0) invert(1)


    &.open
      visibility: visible
      width: 100%
      -webkit-transition: width 0.5s
      transition: width 0.5s
      

      .overlay_loop
        visibility: visible
        opacity: 1
        -webkit-transition-delay: 0.5s
        transition-delay: 0.5s

  &:not(.index)
    header
      .header_bottom_container
        box-shadow: 0 4px 15px rgba(217, 233, 255, .9)