.index
  .swiper-container
    padding-bottom: 30px
    .swiper-pagination
      display: flex
      justify-content: flex-end
      align-items: center
      grid-gap: 19px
      bottom: 0
      .swiper-pagination-bullet
        margin: 0
        background: $white
        &.swiper-pagination-bullet-active
          width: 12px
          height: 12px
          background: $red_main
  
  .index_landing
    margin-top: 20px
    .landing_grid
      display: flex
      justify-content: space-between
      grid-gap: 20px
      margin-bottom: 32px
      .landing_left_filter
        padding: 29px 35px
        width: 285px
        flex: none
        background: $white
        border: 2px solid $blue_7
        box-shadow: 4px 4px 15px rgba(213, 230, 251, 0.8)
        border-radius: 10px

        ul
          display: grid
          grid-gap: 10px
          li
            padding-bottom: 1px
            &:not(:last-child)
              border-bottom: 1px solid $blue_6
            .link
              display: grid
              grid-template-columns: 27px 1fr
              grid-gap: 19px
              cursor: pointer
              padding-bottom: 12px


              img
                margin: auto
              
              p
                +g-b-16
                color: $blue_3
                margin-top: 2px
            
            .submenu
              display: none
              max-height: 290px
              overflow: hidden
              overflow-y: auto
              height: auto
              margin-bottom: 18px
              &::-webkit-scrollbar 
                  width: 4px
                  scroll-behavior: smooth
                  height: 5px

              /* Track */
              &::-webkit-scrollbar-track 
                background: $white
                scroll-behavior: smooth
              
              /* Handle */
              &::-webkit-scrollbar-thumb 
                background: red
                scroll-behavior: smooth

              .submenu_inner
                padding: 5px 25px
                background: $submenu_back
                border-radius: 10px
                .sub_links
                  display: grid
                  a
                    padding: 12px 0
                    +g-m-14
                    color: $blue_3
                    padding-left: 22px
                    &:not(:last-child)
                      border-bottom: 1px solid $blue_6

                .simplebar-track
                  &.simplebar-horizontal
                    display: none   
                  &.simplebar-vertical
                    width: 4px
                    right: 7px
                    background-color: $header_same_back
                    .simplebar-scrollbar
                      &::before
                        opacity: 1
                        left: 0
                        right: 0
                        width: 4px
                        background-color: $yellow_2   

      .landing_right
        display: grid
        grid-template-columns: 1fr auto
        grid-gap: 18px 20px
        grid-auto-rows: minmax(min-content, max-content)
        .order_day_box
          width: 285px
          padding: 17px 30px
          background: $white
          border: 2px solid $red_main
          box-shadow: 4px 4px 15px rgba(213, 230, 251, 0.8)
          border-radius: 10px
          .title_box
            color: $red_main
            +g-b-20
            text-align: center
          .order_inner
            .order_img
              width: 100%
              max-height: 217px
              height: 100%
              margin: 5px 0 21px

              img
                width: 100%
                height: 100%
                border-radius: 10px
            
            .content_order
              +g-m-16
              color: $blue_3
              word-break: break-word
              max-height: 44px
              overflow: hidden
              text-overflow: ellipsis
              display: -webkit-box
              -webkit-box-orient: vertical
              -webkit-line-clamp: 2
            
            .order_prices
              display: flex
              align-items: flex-end
              grid-gap: 12px
              margin: 12px 0 5px
              p.current_price
                +g-b-25
                line-height: 27px
                color: $red_main
              
              p.old_price
                +g-b-18
                color: $blue_3
                position: relative
                &::after
                  content: ''
                  position: absolute
                  left: 0
                  top: 50%
                  width: 100%
                  height: 1px
                  background: $red_main

            .order_btn
              background: $blue_7
              width: 100%
              height: 38px
              +flex_2
              grid-gap: 9px
              transition: all .5s
              border-radius: 5px
              position: relative
              &::after
                content: ''
                position: absolute
                left: 0
                top: 0
                width: 100%
                height: 100%
                border-radius: 5px 
                background-image: $basket_btn
                opacity: 0
                transition: opacity .5s
              
              img
                transition: all .4s
                position: relative
                filter: brightness(0) invert(1)
                z-index: 2

              p
                +g-b-13
                color: $white
                position: relative
                z-index: 2
                transition: all .4s
              &:hover
                &::after
                  opacity: 1


        .box_fraction_about
          grid-template-columns: repeat(3, 1fr)
          grid-gap: 55px
          grid-column-start: 1
          grid-column-end: 3
          .single_about_box
            margin-bottom: 0
            flex-direction: unset
            grid-gap: 0
            &:not(:last-child)
              border-right: 2px solid rgba(255, 48, 79, .3)

            .single_inner
              max-width: 220px
              margin: auto
              +flex_2
              >div
                max-width: 116px
                max-height: 77px
                img
                  width: 100%
            
            p
              +g-b-18

        .owl-carousel
          overflow: hidden
          height: max-content
          .owl-item
            img
              border-radius: 10px
          
          .owl-dots
            +flex_2
            grid-gap: 15px
            position: absolute
            width: 100%
            bottom: 17px
            z-index: 22
            button
              display: flex
              span
                width: 10px
                height: 10px
                border-radius: 50%
                background: $header_same_back

  .special-order
    margin-bottom: 35px
    .swiper-container
      padding-bottom: 30px
      .swiper-wrapper
        &.disabled 
          transform: translate3d(0px, 0, 0) !important

      .swiper-pagination
        bottom: 0
        &.disabled 
          display: none

  .index-swiper
    position: relative
    display: flex
    align-items: center
    &.wave-swiper
      height: 888px
    
    &:not(.first-swiper)
      margin-top: 80px
    
    &:not(.wave-swiper)
      .swiper-container
        .swiper-pagination
          .swiper-pagination-bullet
            &:not(.swiper-pagination-bullet-active)
              background: $red_main
              opacity: .4

    .index-swiper-absolute
      position: absolute
      height: 100%
      width: 100%
      left: 0
      top: 0
      img
        width: 100%
        height: 100%
    
    .heading_best
      +flex_1
      z-index: 88
      width: 100%
      margin-bottom: 7px
      p
        margin: 0 
    
  .brand-swiper
    margin-top: 80px
    .swiper-container
        .swiper-pagination
          .swiper-pagination-bullet
            &:not(.swiper-pagination-bullet-active)
              background: $red_main
              opacity: .4

        .brand_slide
          display: flex
          flex-direction: column
          grid-gap: 13px
          a
            +flex_2
            padding: 8px 20px
            background: $white
            border: .3px solid $border_color
            border-radius: 5px
            min-height: 35px
            transition: box-shadow .3s
            img
              transition: transform .3s
              width: 100%
              object-fit: contain
              height: 80px

            &:hover
              box-shadow: 0px 4px 15px rgba(217, 233, 255, 0.9)
              img
                transform: scale(1.1)

  .comfort-brands 
    max-width: 1400px
    width: 100%
    position: relative
    margin: 120px auto 30px

    .comfort_absolute
      position: absolute
      left: 0
      top: -40px

    .comfor_zone
      display: flex
      justify-content: space-between
      align-items: flex-end
      grid-gap: 68px
      margin-bottom: 70px
      .comfort_img
        min-width: 610px
        min-height: 400px
        max-height: 450px
        position: relative
        > img
          width: 100%
          height: 100%
          object-fit: cover       
        
      .comfort_info
        padding: 0 80px 40px 0
        .comfort_title
          color: $blue_1
          +g-b
          font-size: 50px
          line-height: 55px
          position: relative
          span
            position: absolute
            left: 0
            top: -82px
            height: 80px
            +g-b
            font-size: 200px
            line-height: 165px
            color: $yellow_3
        
        .comfort_context
          +g-r-16
          line-height: 30px
          color: $blue_1
          word-break: break-word
          max-height: 60px
          overflow: hidden
          text-overflow: ellipsis
          display: -webkit-box
          -webkit-box-orient: vertical
          -webkit-line-clamp: 2
          margin: 12px 0 20px
        
        .see_more
          margin: 0

    .brand_zone
      .brand_title
        +g-b-40
        color: $blue_3
        margin-bottom: 10px
    
      .brands_box
        display: grid
        grid-template-columns: repeat(5,1fr)
        grid-gap: 13px
        

  .call_button_fixed
    display: none
    position: fixed
    height: 70px
    width: 70px
    border-radius: 50%
    background-color: $red_main
    box-shadow: 0px 4px 15px #E7F0FF
    right: 25px
    top: 80vh
    img
      height: 29px
      widows: 29px
      filter: brightness(0) invert(1)
