section
  .breadcrumps
    display: flex
    align-items: center
    grid-gap: 10px 5px
    flex-wrap: wrap
    .page_main
      position: relative
      .old_page
        +g-m-12
        color: $blue_3
        max-width:   238px
        overflow: hidden
        text-overflow: ellipsis
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 1

      &:first-child
        &::before
          content: ''
          position: absolute
          left: 0
          bottom: -5px
          width: 100%
          height: 0.8px
          background-color: $blue_1

    .current_page
      +g-m-12
      color: $red_main
      max-width: 238px
      overflow: hidden
      text-overflow: ellipsis
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 1
      
    div.breadcrump_img
      width: 13px
      height: 13px
      +flex_2

.see_more
  +flex_2
  +btn_default
  +g-b-18
  color: $blue_7
  width: 183px
  height: 42px
  border: 2px solid $blue_7
  border-radius: 30px
  margin: 40px auto
  transition: all .3s

  &:hover
    color: $white
    background: $blue_7

.more_items
  .box_repeat_container
    padding: 20px 0 35px

