.pay_container
  padding: 20px 0 10px
  width: 100%
  .title_repeat
    margin: 23px 0 28px
    +g-b-40
    color: $blue_1
  
  form
    .contact_form_container
  
      label.error
        display: none !important
      
      .form_title
        +g-b-20
        color: $blue_3
        margin-bottom: 15px
        width: max-content
        position: relative

        &.not_valid
          &::after
            content: ''
            position: absolute
            right: -35px
            top: 4px
            background-image: url('../img/caution.svg')
            width: 20px
            height: 16px
        
        &.valid
          &::after
            content: ''
            position: absolute
            right: -35px
            top: 4px
            background-image: url('../img/valid.svg')
            width: 18px
            height: 18px

      .form-group
        margin-bottom: 0
        position: relative

        &.red_group
          &::after
            content: ''
            position: absolute
            right: 26px
            top: 16px
            background-image: url('../img/caution.svg')
            width: 20px
            height: 16px
        
        &.valid_group
          &::after
            content: ''
            position: absolute
            right: 26px
            top: 16px
            background-image: url('../img/valid.svg')
            width: 18px
            height: 18px

        input:not([type=radio])
          background: transparent
          width: 100%
          height: 49px
          padding: 0 50px 0 25px
          +g-m-16
          border: 1px solid $blue_3
          border-radius: 5px
          color: $blue_3


          & ~ .place-label
            position: absolute
            left: 25px 
            width: max-content 
            top: 14px 
            color: $blue_3 
            transition: 0.3s 
            z-index: -1 
            letter-spacing: 0.5px
            +g-m-16
            color: #94A5D3
            margin-bottom: 0 !important
            
            span
              color: $red_main
          
          &:focus ~ .place-label , &.has-content ~ .place-label
            top: -10px 
            font-size: 10px 
            color: $blue_3 
            transition: 0.3s
            background: $white
            z-index: 1
            padding: 0 7px
            
            span
              display: none
          
        textarea
          background: transparent
          width: 100%
          padding-left: 20px
          border: 1px solid $blue_3
          border-radius: 5px
          +g-m-16
          height: 100%
          resize: none
          padding: 20px
          color: $blue_3

          & ~ .place-label
            position: absolute
            left: 20px 
            width: max-content 
            top: 14px 
            color: $blue_3 
            transition: 0.3s 
            z-index: -1 
            letter-spacing: 0.5px
            +g-m-16
            color: #94A5D3
            margin-bottom: 0 !important
            span
              color: $red_main
          
          &:focus ~ .place-label , &.has-content ~ .place-label
            top: -10px 
            font-size: 10px 
            color: $blue_3 
            transition: 0.3s
            background: $white
            z-index: 1
            padding: 0 7px
            span
              display: none

      .fraction-form
        margin-bottom: 30px
        padding-bottom: 40px
        border-bottom: solid rgba(255, 48, 79, 0.3)

        .contact_form_box
          display: grid
          grid-template-columns: 1fr 1fr
          grid-gap: 80px
          width: 895px

          .nice-select
            width: 100%
            background-color: $white
            border: 1px solid $blue_3
            border-radius: 5px
            +g-m-16
            color: $blue_3

          .contact_left
            display: grid
            grid-gap: 20px

            button
              display: flex
              justify-content: flex-start
              align-items: center
              grid-gap: 5px
              width: max-content
              margin-left: 7px
              margin-top: -12px
              +g-m
              font-size: 10px
              line-height: 14px
              color: $blue_3
          
          .contact_right
            display: grid
            display: grid
            grid-template-rows: 49px 187px
            grid-gap: 20px

        &:nth-of-type(2)
          border-bottom: solid rgba(255, 48, 79, 0.6)
        &:nth-of-type(3)
          border-bottom: solid rgba(255, 48, 79, 0.9)

        &.radio-fraction
          .form-group
            display: grid
            grid-template-columns: repeat(4, 168px)
            grid-gap: 20px
            .form-label
              input:checked,
              input:not(:checked) 
                position: absolute
                left: -9999px

              input:checked + .label-main,
              input:not(:checked) + .label-main
                position: relative
                cursor: pointer
                line-height: 20px
                display: inline-block
                color: #666
              
              input:checked + .label-main:before,
              input:not(:checked) + .label-main:before 
                  content: ''
                  position: absolute
                  left: 0
                  right: 0
                  margin: auto
                  bottom: 8px
                  width: 16px
                  height: 16px
                  border: 1px solid $blue_3
                  border-radius: 100%
                  background: $white
              
              input:checked + .label-main:after,
              input:not(:checked) + .label-main:after 
                  content: ''
                  width: 10px
                  height: 10px
                  background: $blue_5
                  position: absolute
                  left: 0
                  right: 0
                  margin: auto
                  bottom: 11px
                  border-radius: 100%
                  -webkit-transition: all 0.2s ease
                  transition: all 0.2s ease
              
              input:not(:checked) + .label-main:after 
                  opacity: 0
                  -webkit-transform: scale(0)
                  transform: scale(0)
              
              input:checked + .label-main:after 
                  opacity: 1
                  -webkit-transform: scale(1)
                  transform: scale(1)
              
              
              >label
                width: 100%
                background: #FFFFFF
                padding: 19px 13px 36px
                margin-bottom: 0
                border-radius: 5px
                text-align: center
                border: 1px solid $border_color
                &.selected_label
                  box-shadow: 0px 4px 15px #E7F0FF
                .label-img
                  img
                    width: 90px
                    height: 90px
                    object-fit: contain
                
                p
                  +g-m-12
                  color: $blue_3
                  margin: 10px 0 5px
                  height: 25px

    .form_result_box
      .title_result_form
        +g-m-16
        margin-bottom: 16px
        color: $blue_3
      
      .info_form_container
        display: grid
        grid-gap: 20px
        max-width: 183px
        +g-m-12
        color: $blue_3

        .same_result_text
          display: flex
          align-items: center
          grid-gap: 1px
        
        .count_form_box
          padding-bottom: 20px
          border-bottom: 2px solid rgba(39, 60, 116, 0.4)
        .count_form_box , .delivery_form_box
          +flex_1
      
      .result_form_container
        .box_summary
          +g-b-20
          color: $blue_3
          +flex_1
          max-width: 280px
          margin: 20px 0
          .price_summary
            +flex_1
            grid-gap: 2px

.pay
  .modal
    display: flex
    padding: 0 !important
    z-index: -1
    &.show
      z-index: 8888
    .modal-dialog 
      +flex_2
      max-width: 794px
      height: 100% 
      margin: 0 auto
      z-index: 8888

      .modal-content
        background-clip: none
        border: none
        margin: 0 25px
        
        .content_flex
          display: flex
          flex-direction: column
          align-items: center
          background: $white
          border-radius: 10px
          padding: 20px 0
          .status_img
            +flex_2
            width: 353px
            height: 353px
          
          .modal_title
            +g-b-40
            color: $blue_1
            margin-bottom: 15px
            padding: 0 50px
            text-align: center
            word-break: break-word
          
          .modal_context
            +g-m-20
            color: $blue_1
            max-width: 358px
            text-align: center
            word-break: break-word

        button.close
          opacity: 1
          position: absolute
          right: 2px
          top: -23px
          opacity: 1
          filter: brightness(0) invert(1)
       