.project_inner
  .project_inner_container
    padding: 20px 0 35px
    overflow: hidden
    .inner_top
      display: flex
      grid-gap: 20px
      margin-top: 60px
      .clearfix  
        zoom: 1 

        &:after 
          content: ''
          display: table
          clear: both

      .image-area 
        min-width: 700px
        height: 529px
        display: flex
        flex-direction: row-reverse
        justify-content: space-between

        .main-image 
          position: relative
          text-align: center
          overflow: hidden
          width: 100%
          height: 100%
      

          div 
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            -moz-opacity: 0
            opacity: 0
            z-index: -1
            cursor: pointer
      
            img
              width: 100%
              object-fit: cover
              height: 100%

        .sub-image 
          display: grid
          grid-gap: 20px
          min-width: 163px
          margin-right: 20px

          div 
            width: 100%
            cursor: pointer
            text-align: center

            img 
              height: 100%
              width: 100%
              object-fit: cover
      
      .inner-basket-area
        display: flex
        flex-direction: column
        p.title-inner
          +g-m-13
          color: $red_main
          margin-bottom: 17px
        p.name-model
          +g-b
          font-size: 30px
          line-height: 45px
          color: $blue_1
          word-break: break-word
          height: 90px
          overflow: hidden
          text-overflow: ellipsis
          display: -webkit-box
          -webkit-box-orient: vertical
          -webkit-line-clamp: 2
        p.code-model
          +g-m-13
          color: $blue_1
          margin: 5px 0 20px
        p.content-model
          +g-r-18
          line-height: 30px
          color: $blue_1
          margin-bottom: 20px
          max-height: 155px
          word-break: break-word
          overflow: hidden
        
        .inner-basket-operation
          > p
            color: $blue_1
            +g-r-20
            display: flex
            align-items: baseline
            grid-gap: 2px
            span
              +g-b
              font-size: 30px
              line-height: 45px
          
          .inner-operation
            display: flex
            grid-gap: 12px
            align-items: center
            a.add_basket_inner
              width: 240px
              height: 49px
              +g-b-25
            
            .inner_count_box
              width: 120px
              display: flex
              border: 1px solid $red_main
              border-radius: 5px
              justify-content: center
              grid-gap: 2px
              height: 49px
              button
                +g-b-25
                color: $red_main
              
              input
                +g-b-25
                color: $red_main
                width: 60px
                text-align: center
                background: none
            
            .opeation_socials
              margin-left: auto
              display: flex
              align-items: center
              grid-gap: 20px

        .inner-social
          margin-top: auto
          >p
            color: $blue_3
            +g-m-13
            margin-bottom: 13px
          .socials_box
            display: flex
            grid-gap: 15px
            align-items: center
            a
              height: 15px
              object-fit: contain
  
    
    .main_1400
      max-width: 1400px
      width: 100%
      margin: 150px auto 70px
      position: relative
      min-height: auto
      display: flex
      align-items: center
      .accordion_box
        min-height: 410px
        padding: 130px 0 150px
        .accordion
          width: 620px
          li
            padding-bottom: 17px
            border-bottom: 2px solid rgba(39, 60, 116, 0.4)
            &.open
              button
                transform: rotate(45deg)

            &:not(:last-child)
              padding-bottom: 17px
              margin-bottom: 17px
              border-bottom: 2px solid $blue_3
          .link
            display: flex
            justify-content: space-between
            color: $blue_3
            cursor: pointer
            p
              +g-b-25
            button
              +g-b-18
              transition: all .3s
          
          .submenu
            display: block

            .submenu_table
              display: grid
              grid-gap: 22px
              margin: 18px 0 0
              .sub_row
                display: flex
                justify-content: space-between
                &:not(:last-child)
                  border-bottom:  2px solid rgba(39, 60, 116, 0.4)
                  padding-bottom: 17px

                p
                  +g-m-16
                  color: $blue_3

      .kon_abs_img
        position: absolute
        top: 0
        right: -260px
        width: 781px
        height: 405px
        img
          width: 100%
  
    .box_best_new
      margin-top: 70px
  
  @media (min-width: 576px)
    .modal-dialog
      +flex_2
      max-width: 800px
      height: 100%
      margin: 0 auto
      .modal-content
        background: none
        border: none
        background-clip: none
        border-radius: 0
        .modal-body
          padding: 0

          .close
            filter: brightness(0) invert(1)
            margin-bottom: 5px
            opacity: 1