#loading
  display: none
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 200px
  height: 200px

.projects
  position: relative
  .projects_container
    padding: 20px 0 35px

    .projects_main_box
      display: grid
      grid-template-columns: auto auto
      grid-gap: 25px 36px
      margin-top: 12px 0 32px
      
      aside
        width: 269px
          
        button.esc
          display: none
          position: absolute
          right: 25px
          top: 47px
        
        .left_filter_box
          width: 100%
          display: flex
          flex-direction: column
          grid-gap: 30px
          position: relative


          .filter_header
            +flex_1
            .filter_title
              +g-b-20
              color: $blue_3
            
            #clean
              color: #4182C6
              +g-m-13
            
          .filter_operation
            display: grid
            grid-gap: 30px

            .filter_special_box
              .f_spe_heading
                +g-m-20
                color: $blue_3
                width: max-content
                position: relative
                cursor: pointer
                padding-right: 25px

                &::after
                  position: absolute
                  content: ''
                  right: 0
                  top: 9px
                  width: 10px
                  height: 8px
                  background-image: url('../img/arrowFilter.svg')
                  transition: background-image .3s
                
                &.rotate
                  &::after
                    transform: rotate(180deg)
                
              .block
                display: none
                margin-top: 15px
                &.range-block
                  padding-right: 10px

                .irs--big
                  // margin-bottom: 20px
                  .irs-min,.irs-max
                    background: none
                    border-radius: 0
                    +g-r-13
                    color: $blue_3 
                    // top: 50px
                  .irs-from, .irs-to
                    background: none
                    border-radius: 0
                    +g-r-13
                    color: $blue_3 
                    // top: 50px
                    padding: 0
                 
                  
                  .irs-single
                    background: $blue_3
                    border-radius: 0
                    +g-r-13
                    color: $white

                    
                  .irs-line
                    top: 33px
                    height: 3px
                    opacity: .5
                    background: none
                    background-color: $blue_5
                    border-radius: 0
                    border: none
                    box-shadow: none
                  
                  .irs-bar
                    top: 33px
                    height: 3
                    background-color: #4182C6
                    box-shadow: none
                  
                  .irs-handle
                    background: $red_main
                    box-shadow: 0px 4px 14px #cddbed
                    top: 25px
                    width: 20px
                    height: 20px
                    border: none

                .brand_links
                  display: flex
                  grid-gap: 6px
                  flex-wrap: wrap
                  a
                    +flex_2
                    padding: 0 14px
                    height: 35px
                    background: $white
                    border-radius: 30px
                    +g-r-13
                    color: $black
                    border: 1px solid $white

                    &.active
                      border: 1px solid $blue_3
                
                .label_box
                  display: grid
                  grid-gap: 20px
                  .label_single
                    input:checked,
                    input:not(:checked) 
                      position: absolute
                      left: -9999px

                    input:checked + .label_project,
                    input:not(:checked) + .label_project
                      position: relative
                      cursor: pointer
                      line-height: 20px
                      display: inline-block
                      color: #666
                    
                    input:checked + .label_project:before,
                    input:not(:checked) + .label_project:before 
                        content: ''
                        position: absolute
                        left: 0
                        right: 0
                        top: 1px
                        width: 16px
                        height: 16px
                        border: 1px solid $blue_3
                        border-radius: 100%
                        background: $body_back
                    
                    input:checked + .label_project:after,
                    input:not(:checked) + .label_project:after 
                        content: ''
                        width: 10px
                        height: 10px
                        background: $blue_5
                        position: absolute
                        left: 3px
                        top: 4px
                        right: 0
                        border-radius: 100%
                        -webkit-transition: all 0.2s ease
                        transition: all 0.2s ease
                    
                    input:not(:checked) + .label_project:after 
                        opacity: 0
                        -webkit-transform: scale(0)
                        transform: scale(0)
                    
                    input:checked + .label_project:after 
                        opacity: 1
                        -webkit-transform: scale(1)
                        transform: scale(1)
                    
                    .label_project
                      margin-bottom: 0
                      padding-left: 28px
                      +g-r-13
                      color: $blue_3

      .project_heading_container
        .title_repeat
          +g-b-40
          margin: 0 0 10px
          color: $blue_3
        
        ul
          display: flex
          grid-gap: 60px
          margin-top: 20px
          li
            button
              +g-m
              color: $blue_3
              font-size: 25px
              line-height: 30px
            
              &.active_link
                color: $red_main
        
        button.filter
          display: none
          width: max-content
          flex-direction: column
          align-items: center
          grid-gap: 3px
          p
            +g-b-16
            color: $blue_3
      .project_filtered_boxes
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 20px
        grid-auto-rows: minmax(min-content, max-content)
        .see_more
          grid-column-start: 1
          grid-column-end: 4
          margin: 45px auto 0