@media (min-width: 1250px)
  .container
    max-width: 1200px

@media (max-width: 1200px)
  .index
    .index_landing 
      .landing_grid 
        .landing_left_filter
          padding: 20px
          width: 250px
        .landing_right 
          .order_day_box
            padding: 15px
            width: 250px
          .box_fraction_about
            grid-gap: 30px
            .single_about_box 
              p
                font-size: 16px
                line-height: 19px
          
          .owl-carousel
            height: 100%
            .owl-stage-outer
              height: 100%
              .owl-stage
                height: 100%
                .item
                  height: 100%
                  img
                    height: 100%
                    object-fit: cover
    
    .index-swiper
      &:not(.first-swiper)
        margin-top: 50px
    .brand-swiper
      margin-top: 50px
    
    .advantage_box
    
    .comfort-brands 
      .comfor_zone
        grid-gap: 35px
        .comfort_img
          min-width: 550px
        .comfort_info
          padding: 0 0 40px
      
      .brand_zone
        .brand_title
          font-size: 35px
          line-height: 40px

    .index_advantage_special
      margin-bottom: 50px 
      .advantage_box 
        .advantage_title
          font-size: 35px
          line-height: 40px

  .compare_full_container 
    .compare_main_container
      margin-left: calc( (100% - 960px) / 2 )
      .compared_boxes 
        .compared_single_box
          grid-template-columns: 200px 1fr
          .compared_left_info 
            .left_btns
              a , button
                width: 100%

          .container-single 
            .compared_bottom 
              .compared_table 
                .compared_row 
                  p
                    font-size: 18px
  
  footer 
    .footer_container 
      .footer_main 
        .footer_right 
          ul
            grid-gap: 16px 120px

  section.about
    .content_about
      font-size: 19px
      margin-top: 25px 
    .about_container
      padding-bottom: 80px
      .about_top
        .about_img
          max-width: 700px
          img
            width: 100%

        .about_top_content 
          .title_about
            font-size: 45px
            line-height: 50px
      
  section.pay
    .pay_container 
      .title_repeat
        margin: 23px 0 15px
      form 
        .contact_form_container 
          .fraction-form 
            .contact_form_box
              width: 100%
              grid-gap: 40px

    .modal 
      .modal-dialog 
        .modal-content 
          .content_flex
            .status_img
              width: 300px
              height: 300px
              img
                width: 100%
            .modal_title
              font-size: 35px
              line-height: 40px
            .modal_context
              font-size: 18px
              line-height: 22px

  section.contact 
    .contact_container 
      .contact_grid_box
        grid-template-columns: 220px 500px

  .container_grid_4 , .project_filtered_boxes ,.index .swiper-slide
    .item_standart
      padding: 19px 20px 14px 
      .item_img
        height: 200px
      .item_info
        .item_price_box
          grid-gap: 12px
          align-items: flex-start
          flex-direction: column
          .discount_box
            margin-left: unset  
        .item_controller
          .to_basket
            min-width: 110px
          a
            &:nth-of-type(2)
              margin-right: 12px !important 
  
  .project_inner 
    .project_inner_container 
      .inner_top
        width: 100% 
        flex-direction: column
        .inner-basket-area
          max-width: 700px
          margin: auto
          .inner-social
            margin-top: 20px
          p.content-model
            max-height: unset
        .image-area
          margin: auto
          height: 500px

      .main_1400
        margin: 120px 0 60px 
        .accordion_box
          padding: 100px 0
          min-height: auto 
          .accordion
            width: 550px
        .kon_abs_img
          width: 650px
          height: max-content

@media (max-width: 991px)
  section 
    header 
      .header_top_container
        display: none
      .header_bottom_container
        padding: 43px 0 23px 
        .header_bottom_box 
          .header_main_box
            display: none
          .header_mobile_box
            display: grid

  .index
    .index_landing 
      .landing_grid 
        .landing_left_filter
          display: none
        .landing_right
          grid-gap: 25px 18px
          .order_day_box
            padding: 15px
            width: 250px
          .box_fraction_about
            grid-gap: 30px
            .single_about_box 
              p
                font-size: 16px
                line-height: 19px
              .single_inner
                flex-direction: column
                grid-gap: 12px
          
          .owl-carousel
            height: 100%
            .owl-stage-outer
              height: 100%
              .owl-stage
                height: 100%
                .item
                  height: 100%
                  img
                    height: 100%
                    object-fit: cover
    
    button.call_button_fixed
      +flex_2
      z-index: 99
      
    .index-swiper
      &.wave-swiper
        height: 800px 
      .index-swiper-absolute
        overflow: hidden 
        img
          width: unset

    .brand-swiper 
      .swiper-container 
        .brand_slide 
          a 
            img
              height: 60px

    .comfort-brands
      margin: 90px 0 30px
      .comfort_absolute
        width: 440px
        // top: -35px
        img
          width: 100% 
      .comfor_zone
        flex-direction: column
        grid-gap: 25px
        margin-top: 0
        .comfort_img
          width: 100%
          min-width: 550px
        .comfort_info
          padding: 0
          .comfort_context
            +g-m-16
          .comfort_title
            display: flex
            flex-direction: column-reverse
            font-size: 40px
            line-height: 45px
            span
              position: unset
              font-size: 180px

      .brand_zone
        .brand_title
          font-size: 32px
          line-height: 38px
    
    .index_advantage_special 
      .advantage_box
        margin-bottom: 30px 
        .advantage_title
          font-size: 32px
          line-height: 36px
          margin-bottom: 25px

    .swiper-slide
      .item_standart
        .item_info 
          .item_controller
            justify-content: space-between
            grid-gap: 0
            a:nth-of-type(2)
              margin-left: unset !important
              margin-right: unset !important
            .to_basket
              min-width: unset !important
              height: max-content !important
              border: none !important
            span
              display: none

  .projects 
    .projects_container 
      .projects_main_box
        grid-template-columns: 1fr

        .project_heading_container
          display: grid
          width: 100%
          grid-template-columns: 1fr 1fr
          .title_repeat
            grid-column-start: 1
            grid-column-end: 3
            margin: 23px 0 0
          
          ul
            grid-gap: 40px
            li
              button
                font-size: 22px
                line-height: 25px


          button.filter
            display: flex
            margin-left: auto

        >div:first-child
          display: none
        
        aside
          width: auto
          padding: 90px 22px 30px
          background: $body_back
          box-shadow: 0px 4px 15px #D6E4FA
          border-radius: 10px
          position: absolute
          right: 0
          top: 0
          z-index: 88
          opacity: 0
          visibility: hidden
          pointer-events: none
          transition: opacity .6s
          
          &.open
            opacity: 1
            visibility: visible
            pointer-events: auto
            transition: opacity .6s

          button.esc
            display: block

          form.left_filter_box
            width: 270px
            max-height: calc( 100vh - 125px )
            overflow-y: auto
            padding-right: 7px

  .compare_full_container 
    .compare_main_container
      margin-left: calc( (100% - 720px) / 2 )
      .compared_boxes 
        .compared_single_box
          grid-gap: 0 30px
          .compared_left_info 
            .left_btns
              a , button
                width: 100%
          
          .container-single 
            .compared_bottom 
              .compared_table 
                .compared_row 
                  p
                    font-size: 16px
  
  section 
    header 
      .header_bottom_container 
        .header_bottom_box
          grid-gap: 15px
          > a
              img
                width: 180px
          .header_main_box
            grid-gap: 15px
            form
              grid-gap: 7px
              padding: 10px 15px
              input
                width: 130px 
            & > ul
              grid-gap: 17px
              li
                a
                  font-size: 14px

  .project_inner
    .modal
      padding: 0 !important
      .modal-dialog
        max-width: 700px 
        .modal-content
          margin: 0 25px
    .project_inner_container
      .main_1400
        margin: 90px 0 
        flex-direction: column-reverse
        grid-gap: 90px
        .accordion_box
          padding: 0
          width: 100% 
          .accordion
            width: 700px
            margin: auto
            .link 
              p
                font-size: 24px
                line-height: 29px
        .kon_abs_img
          position: relative
          right: unset
          top: unset
          width: 700px
          height: max-content

  .heading_best
    a
      font-size: 18px !important
      line-height: 22px !important

  .see_more
    width: 170px
    font-size: 17px
    line-height: 19px
    margin: 30px auto
  
  footer 
    .footer_container
      margin-top: 45px 
      .footer_main
        flex-direction: column
        align-items: center
        grid-gap: 22px 
        .footer_right 
          ul
            grid-gap: 16px 70px
        
        .footer_left
          align-items: center
          grid-gap: 20px
          p
            text-align: center
            color: $white
      
      .footer_bottom
        margin: 35px auto 0

  .title_repeat
    font-size: 37px !important

  section.fag
    .fag_container
      .fag_desc
        max-width: 100%
        +g-m
        font-size: 14px
        line-height: 27px
      
      .fag_accordion
        margin-top: 25px

        #accordion 
          li 
            .link
              padding: 24px 30px
              .link_accordion
                width: 80%
                font-size: 17px
                line-height: 20px
          .submenu
            padding: 0 30px 24px
            .submenu_inner
              +g-m
              font-size: 16px

  section.about
    .content_about
      font-size: 17px
      margin-top: 20px 
    .about_container
      padding-bottom: 40px
      .about_top
        .about_img
          max-width: 100%
          img
            width: 100%

        .about_top_content 
          .title_about
            font-size: 40px
            line-height: 45px
  
  section.pay
    .modal 
      .modal-dialog
        max-width: 600px 
        .modal-content 
          .content_flex
            .status_img
              width: 250px
              height: 250px
            .modal_title
              font-size: 30px
              line-height: 35px
            .modal_context
              font-size: 16px
              line-height: 20px

  section.contact 
    .contact_container 
      .contact_grid_box
        grid-template-columns: 220px 1fr
        grid-gap: 50px
        .btn_blue
          width: 100%

  section.basket
    .basket_container 
      .basket_operation_container
        display: grid
        grid-template-columns: 1fr 200px
        grid-gap: 50px
      .basket_box
        width: unset
        .basket_same 
          .basket_single
            align-items: center
            padding: 12px 20px
            grid-gap: 0 20px
      .result_box
        max-width: unset
        .basket_btns
          width: 100%
          margin-top: 35px
          a
            font-size: 18px
  
  .box_fraction_about
    grid-template-columns: repeat(3 ,200px)
    .single_about_box
      >div
        width: 100%
        img
          width: 100%
      p
        font-size: 20px
        line-height: 24px
        text-align: center

  .container_grid_4
    grid-template-columns: repeat(3, 1fr) !important
   
  .container_grid_4 , .project_filtered_boxes ,.index .swiper-slide
    .item_standart
      padding: 19px 20px 14px 
      .item_img
        height: 180px
      .item_info
        .item_content 
          p
            margin: 15px 0
            font-size: 15px
            line-height: 18px
            height: 38px
        .item_controller 
          .to_basket
            min-width: 110px
    
@media (max-width: 768px)
  .index
    .index_landing
      margin: 0 0 20px 
      .landing_grid 
        .landing_right
          grid-gap: 25px
          grid-template-columns: 1fr
          .order_day_box
            padding: 18px 15px 30px
            width: 100%
            grid-row: 3
            margin-top: 25px
            .title_box
              text-align: left
            .order_inner
              display: flex
              grid-gap: 20px
              margin-top: 13px
              .order-bottom
                display: flex
                flex-direction: column
                .content_order
                  font-size: 14px
                  line-height: 20px
                  max-height: 57px
                  -webkit-line-clamp: 3
                .order_btn
                  margin-top: auto
                  min-width: 156px
                  width: max-content

              .order_img
                margin: 0
                min-width: 160px
                min-height: 150px
              
          .box_fraction_about
            grid-gap: 18px
            grid-column-start: unset
            grid-column-end: unset
            .single_about_box
              border-right: 0 !important 
              p
                font-size: 13px
                line-height: 16px
          
          .owl-carousel
            height: 100%
            .owl-stage-outer
              height: 100%
              .owl-stage
                height: 100%
                .item
                  height: 100%
                  img
                    height: 100%
                    object-fit: cover

    .comfort-brands
      margin: 85px 0 25px
      .comfort_absolute
        width: 300px
        img
          width: 100% 
      .comfor_zone
        margin-bottom: 60px
        .comfort_img
          width: 100%
          min-width: 100%
          min-height: 260px
          max-height: 320px
        .comfort_info
          .comfort_context
            +g-m-14
          .comfort_title
            font-size: 35px
            line-height: 40px

      .brand_zone
        .brand_title
          font-size: 28px
          line-height: 32px
        .brands_box
          grid-template-columns: repeat( 4, 1fr )
          grid-gap: 10px
          a
            padding: 5px 10px

    .index_advantage_special 
      .advantage_box
        margin-bottom: 10px 
        .advantage_title
          font-size: 28px
          line-height: 32px

    .index-swiper
      align-items: unset
      padding-top: 80px 
      &.wave-swiper
        height: 700px
  .projects 
    .projects_container 
      .projects_main_box
        .project_filtered_boxes
          .see_more
            grid-column-start: 1 !important
            grid-column-end: 3 !important
            margin-top: 15px

        .project_heading_container
          .title_repeat
            margin: 21px 0 0
          ul
            grid-gap: 20px
            flex-direction: column
            margin-top: 10px
            li
              button
                font-size: 20px
                line-height: 22px


          button.filter
            margin-left: auto
            margin-top: auto

  .compare_full_container 
    .compare_main_container
      margin-left: calc( (100% - 540px) / 2 )
      .compared_boxes 
        .compared_single_box
          grid-gap: 0
          grid-template-columns: 1fr
          .compared_left_info
            grid-column-start: 1 
            grid-column-end: 3
            width: 540px
            display: grid
            grid-template-columns: repeat(2 , auto )
            align-items: center
            padding-bottom: 20px
            .left_btns
              padding-bottom: 0
              a
                display: flex
                flex-direction: column
                grid-gap: 5px
                align-items: flex-end
                border: none
                +g-m
                font-size: 10px
                line-height: 14px
                color: $blue_3
                &:hover
                  border: none
                  background: none
                img
                  display: block
              button
                display: none

          .container-single 
            .compared_bottom
              display: block !important
              margin: 10px 0 0
              .compared_table
                overflow-x: scroll
                padding-bottom: 10px
                .compared_row
                  display: grid
                  grid-template-columns: 1fr 1fr 1fr 1fr
                  grid-gap: 15px 0
                  border-bottom: 0 !important
                  padding-bottom: 0

                  p
                    
                    &:first-child
                      grid-column-start: 1
                      grid-column-end: 5
                      text-align: center
                      justify-content: center
                      width: 540px
                      margin: 0
                    
                    &:last-child
                      border-right: 2px solid #A3ADC7 
                      
                    &:nth-of-type(2)
                      border-left: 2px solid #A3ADC7
                    &:not(:first-child)
                      border-top: 2px solid #A3ADC7
                      border-bottom: 2px solid #A3ADC7
                      padding: 22px 5px
                      width: 180px
                      +flex_2
                    
                    &:not(:first-child):not(:last-child)
                      border-right: 1px solid #A3ADC7
                      
  .project_inner
    .project_inner_container 
      .inner_top
        width: 100% 
        flex-direction: column
        .clearfix
          &::after
            display: none !important
        .image-area
          width: 100%
          min-width: 100%
          flex-direction: column
          .sub-image
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            grid-gap: 23px
            margin-right: 0
            margin-top: 23px
            min-height: 110px
        .inner-basket-area
          max-width: 700px
          margin: auto
          p.name-model
            font-size: 27px
            line-height: 37px
            height: 75px
          p.title-inner
            margin-bottom: 10px
          p.content-model
            margin-bottom: 10px
            +g-m
            font-size: 14px
            line-height: 28px
          
          .inner-basket-operation 
            & > p
               span
                 font-size: 27px
          .inner-social
            margin-top: 20px
        .image-area
          margin: auto
          height: auto
          min-height: 411px

      .main_1400
        margin: 75px 0 
        flex-direction: column-reverse
        grid-gap: 75px
        .accordion_box
          padding: 0
          width: 100% 
          .accordion
            width: 100%
            margin: auto
            .link 
              p
                font-size: 22px
                line-height: 26px
        .kon_abs_img
          position: relative
          right: unset
          top: unset
          width: 100%
          padding-left: calc( (100% - 540px) / 2  )
          padding-right: calc( (100% - 540px) / 2  )
          height: max-content

  .heading_best
    a
      font-size: 16px !important
      line-height: 20px !important
      &::after
        bottom: -4px !important

  .see_more
    width: 168px
    font-size: 16px
    line-height: 19px
  
  footer
    .footer_container
      margin-top: 40px
      .footer_main
        .footer_right
          width: 100%
          ul
            grid-gap: 40px
            grid-template-rows: repeat(4, 1fr)
            li
              &:not(:nth-of-type(1)):not(:nth-of-type(5)):not(:nth-of-type(6)):not(:nth-of-type(7)) 
               display: none
              a
                font-size: 15px

          .footer_socials
            a:first-child
              margin-top: -12px

        .footer_left
          p
            max-width: 236px
            font-size: 12px

      .footer_bottom
        margin: 27px auto 0
        p
          font-size: 12px

  .title_repeat
    font-size: 33px !important
  
  .about 
    .about_bottom_container
      padding-bottom: 60px
  
  section.about
    .content_about
      +g-m
      font-size: 17px
      margin-top: 15px
 
    .about_container
      padding-bottom: 40px
      .about_top
        .about_img
          height: 312px
          max-width: 100%
          img
            width: 100%
            height: 100%
            object-fit: cover

        .about_top_content 
          .title_about
            font-size: 35px
            line-height: 40px
            max-width: 100%
            span
              font-size: 180px

  section.pay
    .pay_container 
      .title_repeat
        margin: 23px 0 10px
      form 
        .contact_form_container
          .form_title
            font-size: 18px 
          .fraction-form 
            .contact_form_box
              width: 100%
              grid-gap: 20px
              grid-template-columns: 1fr
              
            &.radio-fraction 
              .form-group
                grid-template-columns: 1fr 1fr
            
            &:nth-of-type(2)
              .form-group
                &:first-child
                  height: 49px
              
            
        .form_result_box
          text-align: center
          .info_form_container
            max-width: 280px
            margin: 0 auto
          .result_form_container
            .box_summary
              margin: 20px auto 
            .btn_blue
              width: 280px
              margin: 0 auto

    .modal 
      .modal-dialog 
        .modal-content 
          .content_flex
            .status_img
              width: 200px
              height: 200px
            .modal_title
              font-size: 25px
              line-height: 30px
              padding: 0 20px
            .modal_context
              font-size: 14px
              line-height: 18px
              max-width: 220px

  section.contact 
    .contact_container 
      .contact_grid_box
        grid-template-columns: 1fr
        grid-gap: 50px
        .btn_blue
          width: 100%
        .contact_right 
          form#contact_form 
            .form-group 
              input:not([type=radio])
                padding: 0 40px 0 15px
                & ~ .place-label
                  left: 15px
              
              textarea
                padding: 15px
                & ~ .place-label
                  left: 15px
              &.valid_group
                &::after
                  right: 15px
              &.red_group
                &::after
                  right: 15px

  .box_fraction_about
    grid-template-columns: repeat(3 ,150px)
    .single_about_box
      >div
        width: 100%
        img
          width: 100%
      p
        font-size: 15px
        line-height: 19px

  section.basket
    .basket_container

      .basket_operation_container
        display: grid
        grid-template-columns: 1fr
        grid-gap: 40px

      .basket_box
        width: unset
        .basket_same 
          .basket_single
            align-items: center
            padding: 12px 20px
            grid-gap: 0 20px

      .result_box
        max-width: 370px
        width: 100%
        margin: 0 auto
        .title_total_box 
          .heading
            font-size: 15px
            line-height: 18px
          
          p
            font-size: 35px
            line-height: 40px
            align-items: baseline
            img
              width: 17px
              margin-left: 3px
              margin-top: 8px

        .basket_btns
          margin-top: 25px
          grid-gap: 23px
          a
            font-size: 25px

  .container_grid_4 , .project_filtered_boxes
    grid-template-columns: repeat(2, 1fr) !important

  .container_grid_4 , .project_filtered_boxes ,.index .swiper-slide
    .item_standart
      .item_img
        height: 140px
        padding-bottom: 0
        .dis_type
          width: 45px
          height: 45px
          font-size: 12px
          line-height: 15px
      .item_info
        .item_price_box
          .prices
            .current_price
              font-size: 22px 
              line-height: 22px 
            .old_price
              font-size: 15px 
              line-height: 18px 
        .item_content 
          p
            margin: 10px 0
            font-size: 14px
            line-height: 17px
            height: 36px
        .item_controller 
          .to_basket
            min-width: 110px

@media (max-width: 576px)
  .index
    .index_landing
      .landing_grid 
        .landing_right
          .box_fraction_about , .order_day_box
            width: calc(100% - 50px) !important
            margin: auto
          .owl-carousel
            height: unset
            padding: 0 8px 17px
            .owl-stage-outer
              height: unset
              .owl-stage
                height: unset
                .item
                  min-height: 290px
                  img
                    height: unset
                    object-fit: cover
            
            .owl-dots
              bottom: 0
              button
                span
                  background: $blue_1

          .order_day_box
            .order_inner
              .order-top
                .order_img
                  margin: 0
                  min-width: unset
                  min-height: unset

    .brand-swiper 
      .swiper-container 
        .brand_slide 
          a 
            img
              height: 50px

    .comfort-brands
      margin: 75px 0 28px
      padding: 0 25px
      .comfort_absolute
        width: 290px
        img
          width: 100% 
      .comfor_zone
        .comfort_img
          width: 100%
          min-width: 100%
          min-height: 240px
          max-height: 280px
        .comfort_info
          .comfort_context
            +g-m-14
          .comfort_title
            font-size: 30px
            line-height: 35px

      .brand_zone
        .brands_box
          grid-gap: 10px 5px
          a
            padding: 5px 8px
        .brand_title
            font-size: 25px
            line-height: 30px
            margin-bottom: 20px
    
    .index-landing-bottom
      padding: 0 25px
    
    .index_advantage_special
      padding: 0 25px
      margin-bottom: 0
      .advantage_box 
        .advantage_title
          font-size: 25px
          line-height: 30px
    
    .index-swiper
      &.wave-swiper
        height: 600px
      .heading_best
        padding: 0 25px
        margin-bottom: 15px
    .brand-swiper
      .heading_best
        padding: 0 25px
        margin-bottom: 15px
        p
          margin: 0

    
    .swiper-container
      padding-left: 25px
      .swiper-pagination
        justify-content: center !important
        padding: 0 25px

    .special-order
      .heading_best
        padding: 0 25px

  .projects 
    .projects_container 
      padding: 15px 25px 35px

  .compare_full_container
    .compare_main_container
      margin-left: unset
      width: 100%
      .compared_boxes 
        .compared_single_box
          grid-gap: 0
          grid-template-columns: 1fr
          .compared_left_info
            grid-column-start: 1 
            grid-column-end: 3
            width: 100%
            margin: auto

          .container-single 
            .compared_bottom
              .compared_table
                padding-right: 15px
                .compared_row
                  p
                    font-size: 14px
                    line-height: 17px
                    &:first-child
                      +g-m-20

  section 
    header 
      .header_bottom_container 
        .header_bottom_box
          padding: 0 25px

  .project_inner
    .modal
      padding: 0 !important
      .modal-dialog
        height: 100%
        max-width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 0 25px
        margin: 0 
        .modal-content
          margin: 0
          background: none
          border: none
          background-clip: none
          .modal-body
            padding: 0
            button.close
              filter: brightness(0) invert(1)
              margin-bottom: 5px
              opacity: 1
            img.imagepreview
             min-height: 220px
             max-height: 400px
             object-fit: cover 
    
    .project_inner_container
      padding: 15px 0px 35px
      .breadcrumps
        padding: 0 25px
      .inner_top
        padding: 0 25px
        .inner-basket-area
          p.name-model
            font-size: 25px
            line-height: 35px
            height: 71px
          
          p.content-model
            +g-m
            font-size: 14px
            line-height: 28px
          
          .inner-basket-operation
            & > p
               span
                 font-size: 25px
            .inner-operation
              display: grid
              grid-template-columns: auto auto
              a.add_basket_inner
                grid-column-start: 1
                grid-column-end: 3
                grid-row: 2
                width: 100%
          .inner-social
            margin-top: 20px
            p
              margin-bottom: 9px

      .main_1400
        margin: 60px 0 
        flex-direction: column-reverse
        grid-gap: 60px
        .accordion_box
          padding: 0 25px
          width: 100% 
          .accordion
            width: 100%
            margin: auto
            .link 
              p
                font-size: 20px
                line-height: 25px
        .kon_abs_img
          position: relative
          width: 100%
          padding-left: 25px
          padding-right: 0
          height: max-content
          img
            min-width: 500px

      .box_fraction_about, .box_best_new
        padding: 0 25px
      
      .box_best_new
        margin-top: 50px
  

  .heading_best
    a
      font-size: 15px !important
      line-height: 19px !important
    
    p
      font-size: 25px !important
      line-height: 30px
      margin-bottom: 15px

  .see_more
    font-size: 15px
    line-height: 18px

  footer
    .footer_container 
      padding: 25px 15px 15px
      margin-top: 25px
  
  .title_repeat
    font-size: 30px !important
    
  section.fag
    .fag_container
      padding: 15px 25px 25px
      .fag_desc
        max-width: 100%
        +g-m
        font-size: 12px
        line-height: 17px
      
      .fag_accordion
        #accordion 
          li 
            .link
              padding: 24px 17px
              grid-gap: 5px
              .link_accordion
                width: 100%
                font-size: 15px
                line-height: 25px
          .submenu
            padding: 0 17px 24px
            .submenu_inner
              +g-m
              font-size: 12px
              line-height: 24px
              padding-right: 15px

  section.about
    .content_about
      font-size: 15px
      line-height: 32px
      margin-top: 13px
 
    .about_container
      padding-bottom: 40px
      padding: 15px 25px 40px
      .about_top
        .about_top_content
          margin: 30px 0 15px 
          .title_about
            font-size: 30px
            line-height: 35px
            max-width: 100%
            span
              top: -115px
      
  .box_fraction_about
    grid-template-columns: repeat(3 ,115px)
    .single_about_box
      >div
        width: 100%
        img
          width: 100%
      p
        font-size: 12px
        line-height: 16px
    
  .about 
    .about_bottom_container
      padding: 0 25px 35px

  section.pay
    .pay_container
      padding: 15px 25px 25px 
      .title_repeat
        margin: 23px 0 10px
      form 
        .contact_form_container
          .form-group
            &.valid_group::after
              right: 15px
            
            &.red_group::after
              right: 15px
            input:not([type=radio])
              padding: 0 45px 0 15px
              & ~ .place-label
                left: 15px
            textarea
              padding: 15px
              & ~ .place-label
                left: 15px
          .fraction-form 
            .contact_form_box
              
            &.radio-fraction 
              .form-group
                .form-label > label
                  padding: 13px 15px 36px
            
            &:nth-of-type(2)
              .form-group
                &:first-child
                  .nice-select
                    padding-left: 15px

    .modal 
      .modal-dialog 
        .modal-content 
          .content_flex
            .status_img
              width: 150px
              height: 150px
            .modal_title
              font-size: 20px
              line-height: 25px
            .modal_context
              font-size: 12px
              line-height: 16px

  section.contact 
    .contact_container
      padding: 15px 25px 30px 
      .contact_grid_box
        grid-gap: 60px
        .btn_blue
          width: 100%
        .contact_right 
          form#contact_form
            grid-template-columns: 1fr
            .form-group 
              &.textarea_group
                grid-column-start: unset
                grid-column-end: unset

  section.basket
    .basket_container
      padding: 15px 25px 25px 
      .basket_operation_container
      .basket_box
        width: unset
        grid-gap: 12px
        .basket_same 
          .basket_single
            grid-gap: 0 15px
            .basket_content_box 
              .basket_content_title 
                .type_of_project
                  font-size: 12px
                .title_of_project
                  line-height: 21px
                  height: unset
                  max-height: 63px
                  -webkit-line-clamp: 3

            .basket_img
              grid-row-start: unset
              grid-row-end: unset
            
            .basket_operation
              grid-column-start: 1
              grid-column-end: 3
              align-items: center
              flex-direction: row-reverse

      .result_box
        max-width: 370px
        width: 100%
        margin: 0 auto
        .title_total_box 
          .heading
            font-size: 12px
            line-height: 16px
          
          p
            font-size: 30px
            line-height: 35px

        .basket_btns
          margin-top: 20px

  section 
    .breadcrumps 
      .page_main 
        .old_page
          max-width: 175px

  .more_items 
    .box_repeat_container
      padding: 15px 25px 25px

  .container_grid_4 ,.swiper-container ,.project_filtered_boxes
    .item_standart
      padding: 16px 15px 
      .item_img
        height: 120px
        img
          height: 100%
          object-fit: contain
        .dis_type
          width: 36px
          height: 36px
          font-size: 10px
          line-height: 14px
      .item_info
        .item_price_box
          grid-gap: 12px
          align-items: flex-start
          flex-direction: column
          .prices
            grid-gap: 5px
            align-items: center
            .current_price
              font-size: 20px
              line-height: 20px
              span
                font-size: 15px
                line-height: 15px
            .old_price
              font-size: 13px !important
              line-height: 15px !important
              span
                font-size: 12px !important
                line-height: 11px !important
          .discount_box
            margin-left: unset
        .item_content 
          p
            margin: 12px 0
            font-size: 12px
            line-height: 16px
            height: 32px
        .item_controller
          justify-content: space-between
          grid-gap: 0 
          .to_basket
            min-width: unset
            height: max-content
            border: none
            img
              height: 23px
            &:hover
              background: unset
              color: unset
              border: unset
              img
                filter: unset
            span
              display: none
          
          a
            &:nth-of-type(2)
              margin-right: unset !important
              margin-left: unset !important
              img
                height: 23px
  .swiper-container ,.project_filtered_boxes
    .item_standart
      .item_img
        padding-bottom: 0
  
  .compare_full_container
    padding: 15px 0 23px 25px
    .breadcrumps , .title_repeat , .compared_left_info
      padding: 0 25px 0 0

@media (max-width: 400px)
  .more_items .box_repeat_container ,
  section.fag .fag_container,
  section.about .about_container,
  .about .about_bottom_container,
  section.pay .pay_container,
  section.contact .contact_container,
  section.basket .basket_container,
  .project_inner .project_inner_container .breadcrumps,
  .project_inner .project_inner_container .inner_top,
  .project_inner .project_inner_container .main_1400 .accordion_box,
  .project_inner .project_inner_container .box_fraction_about,
  .project_inner .project_inner_container .box_best_new,
  .project_inner .modal .modal-dialog,
  section header .header_bottom_container .header_bottom_box,
  .projects .projects_container,
  .projects .projects_container .projects_main_box aside,
  section .header_overlay .overlay_loop,
  .index .comfort-brands,
  .index .index-landing-bottom,
  .index .index-swiper .swiper-container .swiper-pagination,
  .index .index-landing .landing_container,
  .index .index-swiper.wave-swiper 
    padding-left: 15px
    padding-right: 15px
  
  .index .index-swiper .heading_best,
  .brand-swiper .heading_best,
  .special-order .heading_best,
  .index .swiper-container
    padding-left: 0 !important
    padding-right: 0 !important
  
  .compare_full_container .breadcrumps,
  .compare_full_container .title_repeat,
  .compare_full_container .compared_left_info
    padding-right: 15px
  
  .compare_full_container 
    padding-left: 15px
  
  .index .comfort-brands .comfort_absolute img
    width: 200px

  .index .comfort-brands .brand_zone .brands_box
    grid-template-columns: repeat( 3, 1fr )

  .projects .projects_container .projects_main_box aside button.esc
    right: 15px
  
  .container_grid_4, .project_filtered_boxes
    grid-gap: 15px !important

  .swiper-container .item_standart
    padding-left: 10px
    padding-right: 10px
  
  .project_inner .project_inner_container .main_1400 .kon_abs_img
    padding-left: 15px
  section header .header_bottom_container .header_bottom_box > a img
    width: 170px
  section header .header_bottom_container .header_bottom_box .header_mobile_box
    grid-gap: 7px
  section .header_overlay .overlay_loop form.form-mobile input
    padding: 15px 25px 15px 15px

  .project_inner 
    .project_inner_container
      .main_1400
        .accordion_box
          .accordion
            .link
              p
                font-size: 18px

  .box_fraction_about
    grid-template-columns: repeat(2 ,120px)
    .single_about_box
      &:last-child
        grid-column-start: 1
        grid-column-end: 3
        width: 120px
        margin: auto
  
  section.pay
    .pay_container
      form
        .form_result_box
          text-align: center
          .title_result_form
            text-align: left
          .info_form_container
            max-width: 100%
            margin: 0 auto
          .result_form_container
            .box_summary
              margin: 20px auto
              max-width: 100% 
            .btn_blue
              width: 100%
              margin: 0 auto

  section.basket
    .basket_container
      .basket_operation_container
      .basket_box
        .basket_same 
          .basket_single
            grid-gap: 0 15px
            .basket_img
              img
                width: 120px
                height: 120px
  
  .index .index_landing .landing_grid .landing_right .order_day_box .order_inner
    flex-direction: column
  
  .index .index_landing .landing_grid .landing_right .box_fraction_about,
  .index .index_landing .landing_grid .landing_right .order_day_box
     width: calc(100% - 30px) !important

  .index .index_landing .landing_grid .landing_right .box_fraction_about
    grid-template-columns: repeat(2, 120px)
  
  .index .index_landing .landing_grid .landing_right .order_day_box .order_inner .order_img img
    max-height: unset
    height: 200px
    object-fit: contain
  
  .index .index_landing .landing_grid .landing_right .order_day_box .order_inner .order-top
    background: $white

  .container_grid_4 , .project_filtered_boxes ,.index .swiper-slide
    .item_standart
      padding: 16px 10px