// Base fonts
$g-l:  'g-l',   Arial,   sans-serif
$g-r:  'g-r',   Arial,   sans-serif
$g-m:  'g-m',  Arial,   sans-serif
$g-b:  'g-b',   Arial,   sans-serif
$g-t:  'g-t',   Arial,   sans-serif



// Base colors

$white:                   #ffffff
$black:                   #000000
$body_back:               #F5F9FE
$blue_1:                  #2D4587
$blue_2:                  #1A284E
$blue_3:                  #273C74
$blue_4:                  #3775B7
$blue_5:                  #4182C6
$blue_6:                  #D1E3FA
$blue_7:                  #118DF0
$yellow_1:                #E78B00
$yellow_2:                #FFA41B
$yellow_3:                #FFAE35
$yellow_4:                #FEC400
$index_blue:              #A0C7EF
$header_same_back:        #F5F9FE
$border_header:           #E3EBF5
$old_price:               #BBC6E4
$placeholder:          		rgba(45, 69, 135, 0.4)
$accordion_gray:          #FCFCFC
$red_header:              #C70039
$red_main:                #FF304F
$header_container:        #ff0076
$submenu_back:            #F1F8FD
$basket_btn:                linear-gradient(94.67deg, #4182C6 -5.39%, #FFFFFF 127.86%)
$border_color:            #FFAEB9
$footer_back:               linear-gradient(93.09deg, #ff0076 0.38%, #a1002c 98.16%)


// Base Flex
=flex_1
	display: flex
	align-items: center
	justify-content: space-between

=flex_2
	display: flex
	align-items: center
	justify-content: center

=flex_3
	display: flex
	flex-direction: column
	justify-content: center

=flex_4
	display: flex
	justify-content: flex-end	
	align-items: center	

=btn_default
	background: none
	outline: none
	border: none
	cursor: pointer
// Base mixin
=g-l
	font-family: $g-l
	font-weight: 400

=g-r
	font-family: $g-r
	font-weight: 400


=g-m
	font-family: $g-m
	font-weight: 400


=g-b
	font-family: $g-b
	font-weight: 400

=g-t
	font-family: $g-t
	font-weight: 400


=g-l-16
	+g-l
	font-size: 16px
	line-height: 20px

=g-m-12
	+g-m
	font-size: 12px
	line-height: 14px

=g-m-13
	+g-m
	font-size: 13px
	line-height: 16px	

=g-m-14
	+g-m
	font-size: 14px
	line-height: 17px

=g-m-16
	+g-m
	font-size: 16px
	line-height: 20px

=g-m-20
	+g-m
	font-size: 20px
	line-height: 24px

=g-r-12
	+g-r
	font-size: 12px
	line-height: 14px

=g-r-13
	+g-r
	font-size: 13px
	line-height: 15px

=g-r-14
	+g-r
	font-size: 14px
	line-height: 16px

=g-r-16
	+g-r
	font-size: 16px
	line-height: 18px

=g-r-18
	+g-r
	font-size: 18px
	line-height: 22px

=g-r-20
	+g-r
	font-size: 20px
	line-height: 25px

=g-t-18
	+g-t
	font-size: 18px
	line-height: 21px

=g-b-13
	+g-b
	font-size: 13px
	line-height: 17px

=g-b-14
	+g-b
	font-size: 14px
	line-height: 18px

=g-b-15
	+g-b
	font-size: 15px
	line-height: 18px

=g-b-16
	+g-b
	font-size: 16px
	line-height: 19px

=g-b-18
	+g-b
	font-size: 18px
	line-height: 21px

=g-b-20
	+g-b
	font-size: 20px
	line-height: 24px

=g-b-25
	+g-b
	font-size: 25px
	line-height: 30px

=g-b-40
	+g-b
	font-size: 40px
	line-height: 55px

