@import '_fonts'
@import '_vars'
@import '_header'
@import '_footer'
@import '_index'
@import '_morePages'
@import '_projects'
@import '_basket'
@import '_fag'
@import '_favourites'
@import '_pay'
@import '_compare'
@import '_contact'
@import '_about'
@import '_project_inner'
@import '_responsive'


body
  background-color: $white

section
  min-height: 100vh
  display: flex
  flex-direction: column

footer
  margin-top: auto

button
  +btn_default

.blue-white
 +flex_2
 background: $blue_7
 border: 5px
 color: $white
 border-radius: 5px
 transition: all .3s
 +g-b-25

 &:hover
   background: $blue_4
   color: $white

.white-blue
 +flex_2
 background: $white
 border: 5px
 color: $blue_7
 border: 1px solid $blue_7
 border-radius: 5px
 +g-r-20
 transition: all .3s
 

 &:hover
   background: $blue_5
   border: 1px solid $blue_5
   color: $white

.btn_blue
  +flex_2
  background: $blue_3
  width: 240px
  height: 49px
  +g-m-20
  color: $white
  border-radius: 5px
  transition: all .3s

  &:hover
    background: $blue_4
  
  &:focus
    background: $blue_2

.title_repeat
  margin: 23px 0 7px
  +g-b-40
  color: $blue_1

.heading_best
  +flex_1
  align-items: baseline
  width: 100%
  a
    color: $blue_3
    +g-b
    font-size: 20px
    line-height: 24px
    position: relative
    &::after
      position: absolute
      content: ''
      left: 0
      bottom: -5px
      background-color: $blue_5
      width: 100%
      height: 1px

.container_grid_4
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 20px

.item_standart
  padding: 19px 25px 14px
  background: $white
  border-radius: 10px
  border: .3px solid $border_color
  display: flex
  flex-direction: column
  grid-gap: 15px
  transition: all .3s

  .item_img
    height: 239px
    display: flex
    flex-direction: column
    justify-content: flex-end
    padding-bottom: 20px
    position: relative
    img
      width: 100%
      transition: transform .3s
      &:hover
        transform: scale(1.1)
    
    .dis_type
      position: absolute
      width: 53px
      height: 53px
      border-radius: 50%
      background: $red_main
      +flex_2
      +g-b-15
      color: $white
      right: -8px
      top: -8px
      z-index: 2
  .item_info
    .item_price_box
      display: flex
      align-items: center
      .prices
        display: flex
        align-items: flex-end
        grid-gap: 9.5px
        .current_price
          +g-b
          font-size: 25px
          line-height: 25px
          display: flex
          align-items: center
          color: $red_main
          grid-gap: 1px
          span
            +g-b
            font-size: 20px
            line-height: 20px
        
        .old_price
          +g-b
          font-size: 18px
          line-height: 22px
          color: $blue_3
          display: flex
          align-items: center
          position: relative
          grid-gap: 2px
          span
            +g-b
            font-size: 15px
            line-height: 15px
          &::after
            content: ''
            position: absolute
            left: 0
            top: 50%
            width: 100%
            height: 1px
            background: $red_main

      .discount_box
        display: flex
        align-items: center
        background: $blue_7
        border-radius: 5px
        padding: 5px 0
        margin-left: auto
        min-width: 102px
        +flex_2
        div
          +g-b
          font-size: 13px
          line-height: 16px
          color: $white
          &.month
            margin-right: 6px
            padding-right: 6px
            position: relative
            &::after
              content: ''
              position: absolute
              right: 0
              height: 17px
              width: 1px
              background: $white
          
          &.dis_price
            display: flex
            align-items: baseline
            grid-gap: 2px
          img
            filter: brightness(0) invert(1)
            width: 8px
            height: 6px
      
    .item_content
      p
        +g-r-18
        color: $blue_1
        height: 44px
        word-break: break-word
        overflow: hidden
        text-overflow: ellipsis
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 2
        margin: 20px 0
    
    .item_controller
      +flex_1
      .to_basket
        color: $blue_1
        +flex_2
        +g-b-13
        grid-gap: 9px
        min-width: 120px
        height: 38px
        border: 1px solid $blue_1
        border-radius: 5px
        transition: all .3s
        img
          width: max-content
          transition: all .3s
        &:hover
          background: $basket_btn
          color: $white
          border: 1px solid $white
          img
             filter: brightness(0) invert(1)
      
      a
        svg
          transition: all .3s
          width: 22px
          height: 22px
          path
            opacity: .4
            transition: opacity .5s
        
        &:nth-of-type(2)
          margin-left: auto
          margin-right: 20px
          
        &.active
          svg
            path
              opacity: 1
        
        &:hover
          svg
            path
              opacity: 1
          
  &:hover
    box-shadow: 0 4px 15px rgba(217, 233, 255, 0.9)

.owl-main-container
  .owl-carousel 
    .owl-item
      padding: 15px 0
  .owl-dots
    margin-top: 24px
    display: flex
    justify-content: flex-end
    align-items: center
    grid-gap: 15px
    button.owl-dot
      width: 8px
      height: 8px
      border-radius: 50%
      background-color: $white
      &.active
        width: 12px
        height: 12px
        background-color: $blue_2
    

