*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	text-decoration: none;
	outline: none;
	list-style-type: none;
	border: 0;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}
input:-internal-autofill-selected {
	-webkit-box-shadow: 0 0 0px 1000px #F5F9FE inset;
}
html,body{
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
}
body.modal-open{
	padding-right: 0 !important;
}
ul{
	margin-bottom: 0 ;
}
#gtx-trans{
	display: none !important;
}
p{
	margin-bottom: 0;
}
a{
	display:inline-block ;
	color: #2D4587;
}
input,
select{
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	}
.clear{
	clear: both; 
}
.full{
	position: relative;
	float: left;
	width: 100%;
}
button:focus{
	outline: none !important;
}
textarea::-webkit-scrollbar {
	width: 12px;
}

textarea::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px transparent;
}

textarea::-webkit-scrollbar-thumb {
background-color: #273C74;
outline: 1px solid transparent;
border-radius: 6px;
border: 3px solid #F5F9FE;

}

.center{
	float: none;
	margin: 0 auto;
	width: 1200px;

}
a{
	text-decoration: none !important;
}
b, strong{
	font-weight: bold;
}

.middle{
	top:50%;
	left: 50%;
	
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50% , -50%);
    

}

.top_middle{
	top: 50%;
	
	-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

.left_middle{
	left: 50%;
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.rel_left{
	position: relative;
	float: left;
}

.has_bg{
	background-repeat: no-repeat;
	background-position: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.owl-theme .owl-controls .owl-page {
	display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
	background: none repeat scroll 0 0 #869791;
	border-radius: 20px;
	display: block;
	height: 12px;
	margin: 5px 7px;
	opacity: 0.5;
	width: 12px;
}


